
{% extends "base.html" %}
{% block head %}
<header>
  <a href="http://127.0.0.1:8000/home" id="logo">
    <h1>McKays Mart</h1>
    <h2>99 Unley Road, Parkside</h2>
  </a>
  <nav>
    <ul>
      <li><a href="http://127.0.0.1:8000/living">Living</a></li>
      <li><a href="http://127.0.0.1:8000/dining">Dining</a></li>
      <li><a href="http://127.0.0.1:8000/bedroom">Bedroom</a></li>
      <li><a href="http://127.0.0.1:8000/hallway">Hallway</a></li>
      <li><a href="http://127.0.0.1:8000/office">Office</a></li>
      <li><a href="http://127.0.0.1:8000/musical">Musical</a></li>
      <li><a href="http://127.0.0.1:8000/art">Art</a></li>
      <li>
        <div class="dropdown">
            <button class="dropbtn"><a>Info</a></button>
            <div class="dropdown-content">
              <a href="http://127.0.0.1:8000/home">Home</a>
              <a href="http://127.0.0.1:8000/about" class ="selected">About</a>
              <a href="http://127.0.0.1:8000/hours">Hours</a>
              <a href="http://127.0.0.1:8000/contact">Contact</a>
            </div>
        </div>
      </li>
      </ul>
    </nav>
</header> 
{% endblock %}

{% block content %}
<section>
    {% for about in abouts %}
    <h3>{{ about.title}} </h3>
    <p>{{ about.description|linebreaks }} </p>
    <p>If you'd like to follow us on Facebook, our username is <a href="http://facebook.com/unleyrdantiques">@unleyrdantiques</a>.</p>
    {% endfor %}
</section>
{% endblock %}







