
{% extends "base.html" %}
{% block head %}
<header>
  <a href="http://127.0.0.1:8000/home" id="logo">
    <h1>McKays Mart</h1>
    <h2>99 Unley Road, Parkside</h2>
  </a>
  <nav>
    <ul>
      <li><a href="http://127.0.0.1:8000/living">Living</a></li>
      <li><a href="http://127.0.0.1:8000/dining">Dining</a></li>
      <li><a href="http://127.0.0.1:8000/bedroom">Bedroom</a></li>
      <li><a href="http://127.0.0.1:8000/hallway">Hallway</a></li>
      <li><a href="http://127.0.0.1:8000/office">Office</a></li>
      <li><a href="http://127.0.0.1:8000/musical">Musical</a></li>
      <li><a href="http://127.0.0.1:8000/art">Art</a></li>
      <li>
        <div class="dropdown">
            <button class="dropbtn"><a>Info</a></button>
            <div class="dropdown-content">
              <a href="http://127.0.0.1:8000/home">Home</a>
              <a href="http://127.0.0.1:8000/about">About</a>
              <a href="http://127.0.0.1:8000/hours">Hours</a>
              <a href="http://127.0.0.1:8000/contact" class ="selected">Contact</a>
            </div>
        </div>
      </li>
      </ul>
    </nav>
</header> 
{% endblock %}

{% block content %}
<section id="primary">
    {% for contact in contacts %}
    <h3>General Information</h3>
    <p>{{ contact.description|linebreaks }}</p>
    </section>
    <section id="secondary">
    <h3>Contact Details </h3>
    <ul class="contact-info">
          <li class="phone"><a href="tel:08-8271-2477">{{ contact.phone }}</a></li>
          <li class="mail"><a href="mailto:salesmckaysmart@gmail.com">{{ contact.email }}</a></li>
    </ul>
    {% endfor %}
</section>
{% endblock %}


